:root {
  --main-color: #3362cc; /* #3362cc #1c13fb*/
  --text-color: #444444;
  --background-color: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.section-title {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 42%;
}

.section-title > span {
  display: block;
  color: var(--main-color);
  font-size: 1.12rem;
  font-size: clamp(1.1rem, 2.5vw, 1.2rem);
  margin-bottom: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.section-title > h2 {
  color: var(--text-color);
  font-weight: 500;
  font-size: 2.5rem;
  font-size: clamp(1.7rem, 2.5vw, 2.5rem);
  line-height: 1.3;
}

@media (max-width: 768px) {
  .section-title {
    width: 70%;
  }
}

.hidden {
  opacity: 0;
  transition: all 1s;
  transform: translateY(-25%);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.landing-page {
  height: 100vh;
  background-color: var(--background-color);
  padding-bottom: 120px;
  padding-top: 20px;
}

.landing-page .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  width: 100%;
  top: 0;
}

.nav .nav-logo {
  max-width: 150px;
  z-index: 2;
}

.nav .nav-logo img {
  max-width: 100%;
}

.nav .nav-links {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: end;
}

.nav .nav-links-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #000000ee;
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  padding-top: 220px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 1.4s;
}

.nav > div a {
  display: block;
  color: #444;
  padding: 0 20px;
  cursor: pointer;
}

.nav button {
  border-radius: 5rem;
  padding: 10px 20px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-left: 20px;
}

.nav i {
  display: none;
  color: var(--text-color);
  font-size: 1.5rem;
  z-index: 3;
  transition: 0.3s;
}

.nav .fa-xmark {
  font-size: 2rem;
  color: white;
}

@media (max-width: 768px) {
  .landing-page .nav {
    padding: 40px 40px;
  }

  .nav .nav-links {
    display: none;
  }

  .nav > div a {
    display: block;
    color: white;
    text-align: center;
  }

  .nav button {
    font-size: 1.9rem;
    background: none;
    font-weight: 400;
  }

  .nav i {
    display: block;
  }

  .sticky {
    position: relative;
    background: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  padding-top: 7rem;
}

.header .header-text {
  color: var(--text-color);
}

/* do not forget the blue effect on text */
.header .header-text h1 {
  font-size: clamp(2.2rem, 2.5vw, 3rem);
  margin-bottom: 20px;
}

.header .header-text p {
  font-size: 1.5rem;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 500;
}

.header .header-text button {
  color: var(--main-color);
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.2rem;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  font-weight: 500;
  background: none;
  border: none;
  text-decoration: underline;
}

.header .header-image {
  width: 650px;
  animation: move-the-image 1s infinite;
}

@keyframes move-the-image {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.header .header-image img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .header .header-image {
    display: none;
  }
}

/* FEATURES SECTION */

.features-section {
  background-color: var(--background-color);
  padding: 150px 0;
  border-top: 1px solid #9999999c; /* change this*/
}

.features-section .features-rows {
  width: 85%;
  padding-top: 70px;
}

.features-section .row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 2rem;
}

@media (max-width: 1024px) {
  .features-section .row {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

.lazy-img {
  filter: blur(20px);
}

.features-section .row .row-image img {
  max-width: 100%;
  /* animation: move-the-image 1s infinite; */
}

.features-section .row .row-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15%;
}

@media (max-width: 768px) {
  .features-section .row .row-text {
    text-align: center;
    align-items: center;
  }

  .features-section .row .row-image img {
    display: none;
  }
}

.features-section .row .row-text .row-icon {
  border-radius: 50%;
  background-color: #d1cffe;
  width: 55px;
  height: 55px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-section .row .row-text .row-icon i {
  color: var(--main-color);
  font-size: 1.2rem;
}
.features-section .row .row-text h3 {
  color: var(--text-color);
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 1.2rem;
}

.features-section .row .row-text p {
  color: #888;
  line-height: 1.7;
  font-size: 1rem;
}

/* OPRATIONS SECTION */
.operations-section {
  background-color: var(--background-color);
  padding: 150px 0;
  border-top: 1px solid #9999999c; /* change this*/
}

.operations {
  width: 55%;
  margin-top: 100px;
  position: relative;
}

@media (max-width: 768px) {
  .operations {
    width: 85%;
  }
}

.operations-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10%;
  width: 100%;
}

.operations-buttons .operation-button {
  margin: 0px 15px;
  background-color: var(--main-color);
  border-radius: 50px;
  font-weight: 500;
  font-size: 1rem;
  font-size: clamp(0.4rem, 2.5vw, 1rem);
  padding: 10px;
  border: none;
  color: white;
  max-width: 225px;
  cursor: pointer;
}

.operations-buttons .operation-button-active {
  margin-top: -20px;
}

.operation-box {
  display: none;
}

.operation-box-active {
  display: flex;
  background-color: white;
  padding: min(10%, 70px);
  gap: 2rem;
}

.operation-box .operation-icon {
  border-radius: 50%;
  background-color: #d1cffe;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.operation-box .operation-icon i {
  color: var(--main-color);
  font-size: 1.5rem;
}

.operation-box .operation-text {
  flex: 1;
  margin-top: 20px;
}

.operation-box .operation-text h3 {
  color: var(--text-color);
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.5rem;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.operation-box .operation-text p {
  color: #777;
  line-height: 1.8;
  font-size: 1.1rem;
  font-size: clamp(1rem, 2.5vw, 1.1rem);
  font-weight: 300;
}

@media (max-width: 768px) {
  .operation-box .operation-icon {
    display: none;
  }
}

/* TESTIMOPIALS SECTION */

.testimonials-section {
  background-color: var(--background-color);
  padding: 150px 0 20px 0;
  border-top: 1px solid #9999999c; /* change this*/
}

.testimonial-box {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.testmonial {
  position: absolute;
  top: -10%;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s;
}
/* do not forget the effect here */
.testmonial-content {
  width: 45%;
  position: relative;
}

@media (max-width: 768px) {
  .testmonial-content {
    width: 60%;
  }
  .testmonial {
    top: -15%;
  }
}

.testmonial-content .testimonial-text h3 {
  color: var(--text-color);
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.4rem;
  font-size: clamp(1rem, 2.5vw, 1.4rem);
}

.testmonial-content .testimonial-text p {
  color: #777;
  line-height: 1.8;
  font-size: 1.1rem;
  font-size: clamp(0.8rem, 2.5vw, 1.1rem);
  font-weight: 300;
}

.testmonial-content .testimonial-creater {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.testmonial-content .testimonial-creater .creater-image {
  width: 65px;
}

@media (max-width: 768px) {
  .testmonial-content .testimonial-creater .creater-image {
    width: 45px;
  }
}

.testmonial-content .testimonial-creater .creater-image img {
  max-width: 100%;
  border-radius: 50%;
}

.testmonial-content .testimonial-creater .creater-info {
  /* a quick solution */
  margin-top: -8px;
}

.testmonial-content .testimonial-creater .creater-info span {
  display: block;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.1rem;
  font-size: clamp(0.8rem, 2.5vw, 1.1rem);
  margin-bottom: 5px;
}

.testmonial-content .testimonial-creater .creater-info p {
  color: #777;
  font-weight: 300;
  font-size: 0.9rem;
  font-size: clamp(0.6rem, 2.5vw, 0.9rem);
}

.testimonial-box button {
  position: absolute;
  top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border: none;
  cursor: pointer;
}

.testimonial-btn-left {
  left: 20%;
  transform: translate(-50%, -50%);
}

.testimonial-btn-right {
  right: 15%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .testimonial-box button {
    width: 35px;
    height: 35px;
  }
  .testimonial-btn-left {
    left: 10%;
  }

  .testimonial-btn-right {
    right: 0%;
  }
}

.dots {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: lightgrey;
  cursor: pointer;
}

.dot-active {
  color: darkgray;
}

.dots i {
  font-size: 1rem;
  font-size: clamp(0.5rem, 2.5vw, 1rem);
}

/* FOOTER */

.footer-section {
  background-color: #37383d;
  padding: 110px 0;
  border-top: 1px solid #9999999c; /* change this*/
}

.footer-section .container {
  width: 45%;
  text-align: center;
}

@media (max-width: 768px) {
  .footer-section .container {
    width: 80%;
  }
}

.footer-section h2 {
  color: white;
  font-size: 2.5rem;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: 500;
  margin-bottom: 50px;
}

.footer-section button {
  border-radius: 5rem;
  padding: 20px 30px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-size: 1.2rem;
  font-size: clamp(0.7rem, 2.5vw, 1.2rem);
  font-weight: 400;
  cursor: pointer;
  width: 55%;
}

@media (max-width: 768px) {
  .footer-section button {
    padding: 10px 20px;
  }
}

.footer-section ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 400;
  list-style: none;
  margin-bottom: 10px;
  font-size: clamp(0.6rem, 2.5vw, 1rem);
  flex-wrap: wrap;
}

.footer-section .footer-logo {
  width: 55px;
  margin: 0 auto;
  margin-top: 60px;
}

.footer-section .footer-logo img {
  max-width: 100%;
  text-align: center;
  filter: contrast(0%) brightness(180%);
}
